@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');
/*
.color7 { #121e0f };
.color6 { #1d4417 };
.color1 { #467a3a };
.color2 { #679b59 };
.color3 { #88bc78 };
.color4 { #a8de98 };
.color5 { #c9ffb7 };*/
/*
.color01 { #457a38 };
.color02 { #5e9450 };
.color03 { #77ad67 };
.color04 { #90c77f };
.color05 { #a9e197 };*/
/*
.color11 { #4a793e };
.color12 { #789a6a };
.color13 { #a5bc96 };
.color14 { #d2ddc2 };
.color15 { #ffffee };*/
/* 2da opcion de color #ececec para el header*/

*{
    /*.color15 { #ffffee } */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
}

/* seccion HEADER*/
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #d2ddc2; /* color 14 */
    
}
.container-header h2{
    font-size: 3rem;
    font-weight: 300;
}
.logo-header{
    max-width: 4rem;
}
/*------------------------------*/

/* MENU DESPLEGABLE */
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}
.nav-menu a:link{
    color: black;
}
.nav-menu a:visited{
    color: #283629;
}
.nav-menu a:active{
    color: #121e0f;
}
.nav-list a:hover{
    color: #5e9450; /* color 02*/
    font-size: large;
}
.btn-abrir-menu,
.btn-cerrar-menu{
    display: none;
}
/*----------------------------*/

/* seccion MAIN*/
.container-main{
    margin-top: 0;
    margin-bottom: 0;
    
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seccion-title{
    background-image: url("images/perros2.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
}
.seccion-title:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #010b12;
    position: absolute;
    opacity: 0.5;
}
.seccion-title h1{
    font-size: 4rem;
    text-align: center;
    padding: 5%;
    letter-spacing: 8px;
    font-weight: 500;
}

/* SLIDER 2da opcion*/
.contenedor-slider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3%;
    width: auto;
    padding: 5% 10%;
    margin-bottom: 0%;
}
.slider-izquierdo, .slider-derecho{
    width: 5%;
    padding-left: 10px;
}
.slider-izquierdo i, .slider-derecho i{
    width: 100%;
    cursor: pointer;
}
.slider-screen{
    width: 90%;
}
.slider-screen img{
    width: 100%;
}
/* ----------------------------*/

.seccion-article-home{
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
.seccion-article-home h2{
    font-size: x-large;
    align-items: center;
}
.images{
    width: 80%;
    height: 80%;
    margin-left: 8%;
    
}
#h2-frase{
    font-size: medium;
    text-align: center;
    background-color: #789a6a;
    padding: 15px;
}
.inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;   
}
/*-----------------------------------*/

/* seccion articlulos de SERVICIOS*/
.seccion-article-servicios{
    margin: 10% 5%;
}
.servicios-art-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: 500px;
    width: 100%;
    gap: 40px;
    margin-top: 35px;
}
img{
    width: 100%;
}
.servicios-art-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: 500px;
    width: 100%;
    gap: 40px;
}
.tips-title{
    background-color: #1c1c1c;
}
.tips-title h2{
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px;
    color: #d2ddc2;
}
.seccion-tips{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 20px;
    gap: 40px;
}
.card{
    border: none;
}
.card-title{
    font-size: medium;
}
.card-body{
    background-color: #f7eddb;
    border-radius: 5px;
}
.card-text{
    font-size: small;
}



/*----------------------------------*/

/* FORMULARIO*/
.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;  
    margin: 40px auto; 
    width: 460px;
}
form{
    padding: 50px 30px;
    box-shadow: 0 0 20PX rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}
.div-input-grupo{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form h2{
    font-size: 2rem;
}
label{
    color: #283629;
    font-size: medium; /* 15px*/
    font-weight: 600; /* ancho de fuente*/
    margin-bottom: 10px;
}
input, textarea{
    padding: 17px 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;

}
input{
    height: 15px;
}
select{
    padding: 17px 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
    height: 15px;
}
.condiciones{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1px;
}
.condiciones a{
    color: #76b28e;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
}
.btn-enviar{
    width: 100%;
    height: 35px;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    background-color: #0fb351;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;    
}
.btn-enviar:hover{
    background-color: #09ed64;
}
/*---------------------------------*/


/* seccion FOOTER*/
.container-footer{
    background-color: #ececec; 
    color: #1c1c1c;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    gap: 1rem;
    margin-top: 3%;
}

.logo-footer{
    width: 13%;
    padding: 2px;
}
.div-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    margin-right: 30px;

}
.div-footer h3{
    font-size: x-large;
    padding-bottom: 1rem;
    letter-spacing: 2px;
}
.div-footer h6{
    letter-spacing: 2px;
}
.div-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-redes, h6{
    font-size: medium;
}
.nav-footer{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;
    margin-right: 25px;
}
.nav-footer li a{
    text-decoration: none;
    color: #1c1c1c;
}
.nav-footer a:visited{
    color: #576b58;
}
.nav-footer a:active{
    color: #121e0f;
}
.nav-footer a:hover{
    color: #5e9450; /* color 02*/
    font-size: large;
}
.btn-redes{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 10px;
}
a .logo-redes{
    width: 35px;
    height: 35px;
}
a .logo-redes:hover{
    transform: scale(1.3);
    transition: ease 0.3s;
}
/*---------------------------------*/

/* Tamaño MOBILE*/
@media screen and (max-width: 550px) {

    /* seccion HEADER */
    header{
        height: 70px;
    }
    .container-header{
        padding: 1rem;
        
    }
    .logo-header{
        max-width: 2rem;
    }
    .subtitulo{
        display: none;
    }
    /*-------------------------*/

    /* seccion MAIN*/
    .container-main{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .seccion-title h1{
        font-size: x-large;
    }
    .seccion-article{
        font-size: small;
    }
    .seccion-article h2{
        font-size: medium;
    }
    /*-------------------------*/

    /* MENU DESPLEGABLE*/
    .btn-abrir-menu,
    .btn-cerrar-menu{
        display: block;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        background-color: transparent;
    }
    .nav-menu{
        visibility: hidden;
        
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #d2ddc2;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-menu.visible{
        visibility: visible;
    }
    /*---------------------------*/

    /* seccion FOOTER*/

    .container-footer{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }
    .logo-footer{
        display: none;
    }
    .div-footer{
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-top: 0;
    }
    .div-footer, h3{
        text-align: center;
        letter-spacing: 3px;
    }
    /*------------------------*/


    /* FORMULARIO */
    .container-form{
        width: 90%; 
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    form{
        padding: 30px 25px;
        width: 70%;
    }
    form h2{
        font-size: x-large;
    }
    input{
        padding: 10px;
    }
    label{
        font-size: small;
    }    
    


}





